################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day5/LambdaExpression/obj
/Day5/LambdaExpression/bin/Debug/net5.0
/Day5/DelegatesEventsExamples/obj
/Day5/DelegatesEventsExamples/bin/Debug/net5.0
/Day5/Collections/obj
/Day5/Collections/bin/Debug/net5.0
/Day5/.vs/Day5/v16
/.vs
/Day5/OrderSystem/obj/Debug
/Day5/OrderSystem/bin/Debug
/Day5/DelegatesExercise/obj
/Day5/DelegatesExercise/bin/Debug/net5.0
/Day5/OrderSystem/Properties/AssemblyInfo.cs
/Day5/.vs/Day5/DesignTimeBuild
/Day5/OrderSystemBusinessLibrary/obj/Debug
/Day5/OrderSystemBusinessLibrary/bin/Debug
/Day5/OrderSystemBusinessLibrary/Properties/AssemblyInfo.cs
/Day5/OrderSystemBusinessLibrary/OrderSystemBusinessLibrary.csproj
/Day5/OrderSystemBusinessLibrary/OrderService.cs
/Day5/OrderSystemBusinessLibrary/FileLogger.cs
/Day5/OrderSystemBusinessLibrary/DBLogger.cs
/Day5/Test/obj
/Day5/Test/bin/Debug/net5.0-windows
